#panel {
	top: calc(10vw - 100vh);
	left: 0;
	height: calc(100vh - 10vw);
	width: 100%;
	background-color: #FF0099;
	transition: transform 0.75s ease-out;
	overflow: hidden;
	z-index: 0;
	position: static;

}

#panel.hide {
	transform: translate3d(0, calc(10vw - 100vh), 0);
}

#panel.show {
	transform: translate3d(0, 0vh, 0);
}

.inner {
	width: 98%;
	height: 95%;
}
