#graphMain {
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	height: 50vh;
	top:  15vw;
	width: 75vw;
	//z-index: -1;
}

#graphMain.back {
	z-index: -1;
}

#graphMain.front {
	z-index: 1;
}

.dropdown {
	background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0
}


h1 {
	font-family: "Century Gothic";
	word-wrap: break-word;
	color: rgba(77, 77, 77, 1);
	font-weight: 3;
}