#banner {
	display: flex;
	justify-content: space-between;
	background-color: #FF0099;
	height: auto;
	z-index: 1;
	position: relative;
}



.midLogo {
	width: auto;
	height: 5vw;
	padding-top: 2.5vw;
}

.leftLogo {
	width: auto;
	height: 10vw;
}

.options {
	width: auto;
	height: 7vw;
	padding-top: 1.5vw;
}

#optionsPanel {
	height: 0;
	width: 100vw;
	background-color: #FF0099;
	transition: height 1s cubic-bezier(0, .52, 0, 1);
}

#optionsPanel.hide {
	height: 0;
	//transform: translate3d(0, -50vh, 0);
}

#optionsPanel.show {
	height: 25vh;
	//transform: translate3d(0, 0vh, 0);
}
