.tankInfo {
	position: absolute;
	top: calc( 10vw);
	width: 99vw;
	z-index: -1;
}

.tank {
	width: 30vmin;
	height: 40vmin;
	position: relative;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -36%);
	background: #f9855d;
	overflow: hidden;
	z-index: -1;
}

.tankTop {
	width: 30vmin;
	height: 30vmin;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, 00%);
	border-radius: 20vmin;
	background-color: #f9855d;
	z-index: -2
}

.tankTop h1 {
	transform: translate(0%, 100%);
	font-size: 7vmin; 
	font-weight: 1;
}

.waterWave {
	position: absolute;
	width: 400%;
	height: 300%;
	left: -150%;
	top: 10%;
	background-color: rgba(0, 70, 110, 0.9);
	border-radius: 45%;
	animation: rotate 10s linear infinite;
}

@keyframes rotate {
	100% { transform: rotate(360deg); }
}

h1 {
	font-family: "Century Gothic";
	word-wrap: break-word;
	color: rgba(77, 77, 77, 1);
	font-weight: 3;
}